


* {
	font-family: "Play", Arial, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  
}

body {
	background-image: radial-gradient(#144c5e, #042030);
	color: var(--text-primary, #f3f4f6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

::-webkit-scrollbar {
	width: 20px;
	background: #27272a;
}
::-webkit-scrollbar-thumb {
	background: #52525b;
	border-radius: 4px;
}
